@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE */
    scrollbar-width: none;    /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;            /* Chrome */
  }
}
